<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HavanaDAL.Properties.Settings.HavanaRealEstateConnectionString"
            connectionString="Data Source=AMIT-PC\SQLEXPRESS;Initial Catalog=HavanaRealEstate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>